

body, html{
  height:100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
    background-image: url("./img/main-bg.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
img{
  display: none;
}
ul{
  text-align: center;
  width: 100%;
}
navbar li{
  color:#fff;
  margin: 0 10%;
  font-size: 3em;
  display:inline;
  list-style: none;
}

main{
  width:100%;
  height:100%;
}

label[for="menu"]:before {
    content: "\2630";
    padding: 0px 0px 0px 0px;
    display: none;
}

#topBan{
  position: absolute;
  font-size: 4em;
  color:#fff;
  top:35%;
  left:50%;
  transform: translateX(-50%);
}
#bottomBan{
  position: absolute;
  display: block;
  font-size: 3em;
  color: #fff;
  top:45%;
  left:50%;
  transform: translateX(-50%);
}

.btn{
  color: grey;
  text-align: center;
  position: absolute;
  border-radius: 50%;
  font-size: 5em;
  width: 80px;
  background-color: #fff;
  border-style: none;
  bottom: 10%;
  left:50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1000px){
  navbar li{
    display: none;
  }
  label[for="menu"]:before {
    display: inline;
  }
  label{
    text-align: center;
    float: left;
    display: inline-block;
    font-size: 50px;
    min-width: 70px;
    height: 70px;
    color:white;
    margin: 0;
    padding: 0;
    border: 2px solid white;
    border-radius: 37.5px;
  }
  .btn{
    text-align: center;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #bottomBan{
    white-space: nowrap;
    overflow: hidden;
  }
}
